./SourcePackages/pdlearn/__pycache__/*
./user/*
./SourcePackages/.idea/*
./.idea/*
./SourcePackages/user/*
./SourcePackages/__pycache__/*


.vscode
SourcePackages/XuexiStart.sh
pandaico.ico
contributors.psd
SourcePackages/chrome